*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --clr-primary: hsl(300, 43%, 22%);
    --clr-secondary: hsl(333, 80%, 67%);


    --clr-txt-dark: hsl(303, 10%, 53%);
    --clr-txt-middle: hsl(300, 24%, 96%);
    --clr-txt-light: hsl(0, 0%, 100%);

    --ff-letter: "Spartan", sans-serif;

    --fs-200: 0.8125rem;
    --fs-300: 0.9375rem;
    --fs-500: 2rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
}
body{
    background-image: url(/images/bg-pattern-top-desktop.svg),
                        url(/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    font-family: var(--ff-letter);
    font-size: 15px;
}
.father{
    display: relative;
}
.container{
    width: 85%;
    height: 80%;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}
.row{
    display: flex;
    padding-left: 20px;
}
.divLeft{
    flex: 1;
}
.divLeft>h1{
    color: var(--clr-primary);
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
    width: 65%;
}
.divLeft>p{
    margin-top: 4px;
    color: var(--clr-txt-dark);
    display: inline-block;
    width: 85%;
}
.divRight{
    flex: 1;
}
.calification{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--clr-txt-middle);
    width: 75%;
    border-radius: 10px;
}
.calification>img,p{
    display: inline;
}
.calificationText{
    margin-left: 4%;
    color: var(--clr-primary);
}
.calificationfather:nth-child(2){
    transform: translateX(2rem);
}
.calificationfather:nth-child(3){
    transform: translateX(4rem);
}
.cardFather{
    margin-top: 3%;
    display: flex;
}
.card:nth-child(2){
    margin-left: 2%;
    margin-top: 3%;
}
.card:nth-child(3){
    margin-left: 2%;
    margin-top: 4%;
}

.card{
    height: 225px;
    width: 60%;
    margin: 1.8%;
    padding:  2% 2.5% 2% 2.5%;
    border-radius: 5%;
    background-color: var(--clr-primary);

}

.cardHeader{
    display: flex;
}
.cardName{
    color: var(--clr-txt-light);
}
.cardStatus{
    color: var(--clr-secondary);
}
.cardHeader>h3{
    color: aliceblue;
}

.card_info{
    margin-top: 2%;
    margin-left: 1.3rem;
}
.cardHeader>img{
    border-radius: 50%;
    width: 20%;
}
.card>blockquote{
    margin-top: 1rem;
    color: var(--clr-txt-light);
}